snippet @m
	@mixin ${1} {
		${2}
	}
snippet @i
	@include ${1};
snippet @e
	@extend ${1};
snippet @ib
	@include inline-block;
snippet @ibr
	@include border-radius( ${1}px );
snippet @ibs
	@inclide box-shadow( ${1} );
snippet @io
	@include opacity( ${1} );
